@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: url("./images/cloud.jpg");
    background-position: center;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display:flex;
}
.weather{
    margin-left:2rem
}
.mainContainer{
    background: #6fa9bd59;
    padding: 5rem;
    font-size: 2rem;
    border-radius: 2rem;
}

.getWeatherButton{
    color: white !important;
}
.getWeatherButton:hover{
    color: black !important;

}