@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: url("./images/cloud.jpg");
    background-position: center;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display:flex;
}